@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background-color: #252525;
  color: white;
  font-family: "Roboto", sans-serif;
}

.error {
  text-align: center;
  margin-top: 15%;
}

.error h2 {
  font-size: 70px;
}

.error a {
  color: #7289da;
  text-decoration: none;
}

.error a:hover {
  text-decoration: underline;
}
