<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/404.css">
    <title>404 Page Not Found</title>
</head>
<body>
    <div class="error">
        <h2>404</h2>
        <p>Page not found on the server! Did you lost ?</p>
        <a href="/">Let me hand you to home page</a>. 
    </div>
</body>
</html>